# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/
ENV/
env/
transkrypcja-AI/
faiss_db_transcript/
agents/
transcript/
__pycache__/

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Logs
*.log

# Misc
*.sqlite3
