streamlit
langchain
langchain-core
langgraph
langchain-ollama
langchain-openai
langchain-community
sentence-transformers
ollama
pytesseract
pillow
pandas
uuid
asyncio
python-dotenv
chromadb
openai
tqdm